__pycache__/sagittal_brain.cpython-38.pyc
__pycache__/sagittal_brain.cpython-38.pyc
sagittal_average.egg-info/dependency_links.txt
sagittal_average.egg-info/PKG-INFO
sagittal_average.egg-info/top_level.txt
sagittal_average.egg-info/SOURCES.txt
